<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    join my website

    <section class="msg"><%=message%></section>
    <form action="/join" method="post">
        <input type="text" name="email" id="email">
        <input type="text" name="pw" id="pw">
        <input type="submit" value="">
    </form>
</body>
</html>